@import "tailwindcss";

@theme {
  --color-primary: #e10600;
  --color-card: #0c0c0c;
}

body {
  background: black;
  color: white;
}

/* subtle red glow utility */
.glow-red {
  box-shadow:
    0 0 40px rgba(225, 6, 0, 0.25),
    inset 0 0 20px rgba(225, 6, 0, 0.15);
}
